---
http_interactions:
- request:
    method: get
    uri: https://api-sandbox.capitalone.com/rewards/accounts/+jaR3Du6APE+x4kQue7NB1Z6IEL1OWtPNoA4jkumi8xA%2FRv0eY0VcPYd2Kzm5jNPNcfriz1XC0LlPgonb7VWsw==
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 8a583e4307bad1513b248273a9183bdd0ce90c06
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Version-Served:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"accountDisplayName":"Capital One Visa Platinum Miles *4458","rewardsBalance":100930.00,"rewardsCurrency":"Miles","balanceTimestamp":"2016-05-02T18:26:53-04:00","canRedeem":true,"canTransferOut":true,"canTransferIn":true,"redemptionOpportunities":[{"category":"Travel","categoryDescription":"Travel","subCategory":"Travel.Erase","subcategoryDescription":"Travel
        Reimbursement","displaySequenceNumber":1.1,"tierMinCashValue":0.01,"tierMaxCashValue":150.0,"minRedemptionAmount":15000.0,"redemptionAmount":15000.0,"cashValue":150.00,"cashDisplayValue":"$150.00"},{"category":"Travel","categoryDescription":"Travel","subCategory":"Travel.Erase","subcategoryDescription":"Travel
        Reimbursement","displaySequenceNumber":1.11,"tierMinCashValue":150.01,"tierMaxCashValue":350.0,"minRedemptionAmount":35000.0,"redemptionAmount":35000.0,"cashValue":350.00,"cashDisplayValue":"$350.00"},{"category":"Travel","categoryDescription":"Travel","subCategory":"Travel.Erase","subcategoryDescription":"Travel
        Reimbursement","displaySequenceNumber":1.12,"tierMinCashValue":350.01,"tierMaxCashValue":600.0,"minRedemptionAmount":60000.0,"redemptionAmount":60000.0,"cashValue":600.00,"cashDisplayValue":"$600.00"},{"category":"Travel","categoryDescription":"Travel","subCategory":"Travel.Erase","subcategoryDescription":"Travel
        Reimbursement","displaySequenceNumber":1.13,"tierMinCashValue":600.01,"minRedemptionAmount":60001,"redemptionAmount":100930.00,"redemptionRate":0.01,"cashValue":1009.30,"cashDisplayValue":"$1,009.30"},{"category":"Travel","categoryDescription":"Travel","subCategory":"Travel.Booking","subcategoryDescription":"New
        Travel Purchases","displaySequenceNumber":1.2,"tierMinCashValue":0.01,"tierMaxCashValue":150.0,"minRedemptionAmount":15000.0,"redemptionAmount":15000.0,"cashValue":150.00,"cashDisplayValue":"$150.00"},{"category":"Travel","categoryDescription":"Travel","subCategory":"Travel.Booking","subcategoryDescription":"New
        [...]
